:root{
    --cor-fundo: #12021d ;
    --cor-principal: #180b20 ;
    --cor-secundaria: #2e2133; 
    --cor-destaque: #902bfd;
    --cor-texto: #f8d7ff;

}

body {
    background-color: #111;
    color: #ccc;
    font-family: 'Courier New', monospace;
}

button {
    background-color: #222;
    color: #eee;
    border: 1px solid #444;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.caixa-principal {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #1a1a1a;
    border: 1px solid #333;
    border-radius: 5px;
}


h1{
    color: var(--cor-destaque);
}


button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}
